.product-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}


.display-product {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card-buy {
   display: flex;
   flex-direction: column;
   margin: 4rem;
   row-gap: 1rem;
   width: 24rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 6px 6px 0 0;
   border: none;
   cursor: pointer;


}

.card-buy:hover {
   transform: scale(1.01);
   box-shadow: .3rem .3rem .3rem .3rem rgba(0, 0, 0, 0.2);
   border: none;
}

.card-buy:hover .buttons {
   opacity: 1;
}


.car-buy-body {
   padding: 1.5rem;
}

.card-title-make {
   font-size: 2rem;
   font-weight: bold;
   font-family: "Montserrat", sans-serif;
}

.car-model {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;

}

.car-make {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 1rem;
}


.card-title-model,
.card-title-year,
.card-title-type,
.card-title-price {
   font-size: 1rem;
   font-family: "Montserrat", sans-serif;
}



.card-title-price {
   margin-top: 0.5rem;
}

.card-buy img {
   border-radius: 5px 5px 0 0;
   height: 15rem;
}

.btn-buy-now {
   margin-top: 1rem;
}

.buy-section {
   display: flex;
   justify-content: space-between;
}

.type-seller {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn-addToFavorite {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1rem;
}

.discount-banner {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: #ff6b6b;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 14px;
   font-weight: bold;
}

.discount-text {
   margin-right: 5px;
}

.addToFavorite {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Montserrat", sans-serif;
   column-gap: .4rem;
}


.addToFavorite-compare {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: .2rem;
}

.addToFavorite-compare span:hover {
   cursor: pointer;
   color: #5AFFB0;
}

.addToFavorite-compare span:hover i {
   color: #5AFFB0;
}


.detail-topic {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-top: 5rem;

}

.detail-modal {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 15px;
   margin-top: 5rem;
}

.column_contacts {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   width: calc(50% - 20px);
   padding: 20px;
   text-align: center;
   margin-bottom: 17.5rem;

}

.column {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   width: calc(40% - 20px);
   padding: 20px;
   text-align: center;
   margin-bottom: 10px;
   box-sizing: border-box;
}





.table-product {
   width: 100%;
   margin-top: 20px;
   border-collapse: collapse;

}

.attributes {
   background-color: #f2f2f2;
   font-family: "Montserrat", sans-serif;
}

.values {
   background-color: rgba(90, 255, 176, 1);
   font-family: "Montserrat", sans-serif;
}

.attributes,
.values {
   padding: 10px;
   border-bottom: 1px solid #ddd;
   text-align: left;
}

.carousel-medium {
   max-width: 600px;
   margin: auto;

}

.carousel-medium .carousel-inner {
   max-height: 400px;
}

.carousel-medium img {
   max-width: 100%;
   height: auto;
   margin: auto;
}



.carousel-indicators button img {
   width: 50px;
   margin: 3rem 0 0 62rem;
   height: 30px;

}

.carousel-indicators .active {
   background-color: #fff;
}


.detail-dealer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dealer-purchase {
   margin: 5.5rem;
}

.contactDealer-Information {
   max-width: 25%;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ff6b6b;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 1.2rem;
   font-weight: bold;
}


@media only screen and (max-width: 768px) {


   .column_contacts {
      width: 100%;
   }

   .column {
      width: 100%;
   }
}

.shopping-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.shopping-title {
   margin: 5rem 0 0 6rem;
   font-family: 'Franklin Gothic Medium', sans-serif;
}

.carCompare-btn {
   margin: 3.9rem 0 0 9rem;
}

.searchInput-shopping {
   margin: 5.1rem 7.5rem 0 0;
}

.searchInput-shopping {
   padding: 10px;
   width: 300px;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   font-size: 16px;
   outline: none;
}

.searchInput-shopping:hover,
.searchInput-shopping:focus {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inventory-container {
   display: flex;
   justify-content: center;
}


.filter-form {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 300px;
   padding: 2rem;
   margin: 1.5rem 0 0 6rem;
}

.form-label {
   display: block;
   margin-bottom: 8px;
}

.form-input,
.form-select {
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
   box-sizing: border-box;
}

.form-button {
   background-color: #4caf50;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.form-button:hover {
   background-color: #45a049;
}

.comparison-container {
   display: flex;
   justify-content: center;
}

.comparison-represent {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 24.5rem;

}

.button-priceDeatil {
   font-family: "Montserrat", sans-serif;
   font-size: 1.5rem;
   color: red;
   font-weight: bold;
}

.comparison-represent span {
   width: 120px;
   height: 50px;
   background-color: #fdfafa;
   font-family: "Montserrat", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
   border-bottom: 1px solid #ddd;
}


.comparison-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.CarComparison-topic {
   margin: 1.3rem;
}

.product-compare {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   padding: 20px;
   text-align: center;
   margin: 20px;
   box-sizing: border-box;
}


.product-compare img {
   width: 100%;
   height: auto;
   margin-bottom: 15px;
}

.table-compare {
   width: 100%;
   margin-top: 20px;
   border-collapse: collapse;
}


.value {
   padding: 15px;
   border-bottom: 1px solid #e1dddd;
   background-color: #fdfafa;
   text-align: left;
   text-align: center;
}

.text-comparison {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 33%;
   row-gap: 1rem;
}