.signup-container,
.login-container {
   font-family: "Montserrat", sans-serif;
   max-width: 400px;
   margin: 50px auto;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-container {
   margin-top: 10rem;
}

.signup-title {
   font-family: "Montserrat", sans-serif;
   text-align: center;
   color: #333;
   font-size: 24px;
   margin-bottom: 20px;
}

.signup-label {
   display: block;
   margin: 10px 0;
   font-size: 16px;
   color: #555;
}

.signup-input,
.signup-select {
   width: 100%;
   padding: 12px;
   margin-top: 8px;
   box-sizing: border-box;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   transition: border-color 0.3s ease;
}

.signup-input:focus,
.signup-select:focus {
   border-color: #4caf50;
}

.signup-button {
   width: 100%;
   background-color: #4caf50;
   color: white;
   padding: 12px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 16px;
   transition: background-color 0.3s ease;
}

.signup-button:hover {
   background-color: #45a049;
}

.signup-error,
.signup-success {
   margin-top: 16px;
   font-size: 14px;
   text-align: center;
   color: #ff0000;
}

.signup-success {
   color: #4caf50;
}

.haveAccount {
   margin-top: 20px;
   font-size: 14px;
   color: #000;
   text-align: center;
}

.haveAccount span a {
   color: rgba(100, 255, 176, 1);
   text-decoration: none;

}

.haveAccount span a:hover {
   text-decoration: underline;

}