@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}


:root {
   --primary: #5AFFB0;
   --secondary: #fff;
   --dark: #000;
}

@media only screen and (max-width: 600px) {

   .nav-section {
      max-width: 100%;
      height: 35rem;
      flex-direction: column;
   }


   .searh-middle,
   .header,
   .text-banner-1,
   .car-feature,
   .car-feature,
   .nav-selection,
   .copyright,
   .search-right i,
   .search-left i {
      display: none;
   }



   .text-banner-2 {
      font-size: 1.1rem;
      text-align: center;
   }

   .favorite-cart {
      margin: 0 0 .8rem 0.3rem;
   }

   .nav-section {
      display: flex;
      justify-content: baseline;
   }

   .nav-list {
      margin-top: 1rem;
   }

   .nav-selection ul {
      display: flex;
      flex-direction: column;
   }


   .nav-selection.active {
      display: flex;
   }

   .bars {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1vw 0 1.5rem 7vw;
      font-size: 1.4rem;
      column-gap: 1rem;
   }

   .flow-process {
      row-gap: 3rem;
   }

   .footer-main {
      display: flex;
      flex-direction: column;
      row-gap: 3.5rem;
   }

   .company-name {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1rem;
   }

   .company-name h1 {
      font-size: 2rem;
      text-align: center;
   }

   .feedback {
      margin-left: 20%;
   }
}